.form-div {
  max-width: 20rem;
  margin: 0 auto;
}

.input {
  display: flex;
  box-sizing: border-box;
}

.gray {
  background: #f1f3f7;
  margin: auto;
  border: 1px solid silver;
  padding: 0;
  box-sizing: border-box;
  height: 2rem;
  display: flex;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 2rem;
  margin-bottom: 7rem;
  box-sizing: border-box;
  background: #664de5;
  border: 1px solid #664de5;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.gray span {
  margin: 6px;
  font-size: 13px;
  color: gray;
}

.input input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
